body {
  margin: 0;
  font-family: Roboto, Arial;
}

header {
  background: #1abc9c;
  color: white;
  text-align: center;
  padding: 1px;
  font-size: 20px;
}

.container {
  position: absolute;
  left: 20px;
  top: 170px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-shadow: #000 1px 0 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.items {
  padding-right: 5px;
}

input[type="number"] {
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  width: 65px;
}

.checkAutoPlay {
  position: absolute;
  right: 7px;
  top: 2px;
}
.checkSounds {
  position: absolute;
  top: 2px;
  right: 100px;
}

.slider {
  padding: 2px;
  margin: auto;
  margin-left: -25px;
}

.reset {
  border: none;
  border-radius: 2px;
  font-size: 20px;
  width: 66px;
  background-color: rgb(30, 144, 255);
  color: white;
  margin-left: 7px;
}

.reset:hover {
  cursor: pointer;
  background-color: #1770c6;
}

.menu {
  border: none;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(240, 255, 255);
  color: black;
  height: 20px;
}

.menu:hover {
  cursor: pointer;
  background-color: #d5e2e2;
}

canvas {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

canvas:hover {
  cursor: crosshair;
}

.information {
  position: absolute;
  left: 20px;
  bottom: 15px;
  background-color: rgb(215, 229, 229);
  border: none;
  border-radius: 5px;
}
